body {
    margin: auto;
    max-width: 900px;
  }
  div.principal {
    display: flex;
    flex-direction: row;
    border-top: 2px solid #b6c2b6;
    border-bottom: 2px solid #b6c2b6;
  }
  div.etudiants, div.matieres {
    display: flex;
    flex-direction: column;
    padding: .25em;
  }
  div.etudiants {
    flex: 1;
    border-left: 1px solid #b6c2b6;
  }
  div.vues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey ;
    margin-bottom: 10px; 
   }
  div.vues input {
    background: #ececec;
    margin: 0.5em;
    height: 2rem;
    width: 12rem;
  }
  .etudiant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7em;
  }
  h1 {
    text-align: center;
    font-size: 1.6em;
  }
  h1 span {
    color: green;
    font-style: italic;
  }
  .warning {
    color: orange;
  }
  input[type="button"] {
    border: 1px solid #b6c2b6;
    border-radius: .25em;
    background-color: transparent;
    padding: .25em;
    cursor: pointer;
    font-family: inherit;
  }
  input[type="button"] + input[type="button"] {
    margin-top: .25em;
  }
  input[type="button"]:hover {
    background-color: #b6c2b6;
  }